<%= stylesheet_link_tag "checkr" %> 

<div class="landing">
	<div class="top-right-header">
		<a href="#"> I Am an Appliant </a>
		<a href="#"> API Docs </a>
		<a href="#"> About Us </a>
		<a href="#"> Careers </a>
	</div>


	<div class="header-under"> 
		<div class="left-header-under">
			<%= image_tag 'checkr-logo.png', :class => "checkr-logo" %>
			
			<div class="dropdown">
				<div class="drop-cat"> PRODUCT ↓ </div>
				  	<div class="drop-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Screenings</a>
	    				<a href="#">Compliance</a>
	    				<a href="#">Security</a>
	  				</div>
	  		</div>
  			

	  		<div class="dropdown">
	  			<div class="drop-cat"> STAFFING ↓ </div>
				  	<div class="drop-content">
	    				<a href="#">Overview</a>
	  				</div>
	  		</div>


	  		<div class="dropdown">
	  			<div class="drop-cat"> INDUSTRIES ↓ </div>
				  	<div class="drop-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Contact Centers</a>
	    				<a href="#">Retail & Hospitality</a>
	    				<a href="#">Non Profit</a>
	    				<a href="#">Manufacturing</a>
	    				<a href="#">Small Businesses</a>
	    				<a href="#">Staffing</a>
	    				<a href="#">Financial Services</a>
	    				<a href="#">Healthcare</a>
	    				<a href="#">On Demand Economy</a>
	    				<a href="#">Software & Technology</a>
	    				<a href="#">P2P Marketplaces</a>
	  				</div>
	  		</div>
	  		
	  		<div class="dropdown">	
	  			<div class="drop-cat"> RESSOURCES ↓ </div>
				  	<div class="drop-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Guides & Whites Papers</a>
	    				<a href="#">FAQ</a>
	  				</div>
	  		</div>
			<p class="drop-cat"> COMPLIANCE </p>
		</div>


		<div class="right-header-under">
			<p class="log"> LOG IN </p>
			<button> GET STARTED → </button>
		</div>
	</div>

	<div class="bottom-global-left">
		<div class="bottom">
			<div class="bottom-left">
				<h1> HIRE GREAT PEOPLE. <br/> FASTER. </h1>
				<p> Checkr provides modern and compliant background </br>
				checks for global enterprises and startups. </p>
			</div>
			<button> EXPLORE NOW →</button>
		</div>
		<div class="bottom-global-right"> 
		<%= video_tag "video_lp_checkr.mp4", :size => "520x607", :controls => false, :autoplay => true, :loop => true %>
	</div>
	</div>
</div>