<%= stylesheet_link_tag "flynn" %>

<div class="top-header">
      <div class="top-left-header">
            <a href="#"> <%= image_tag("flynn-logo.png", size: "90x37") %> </a>
      </div>

      <div class="top-right-header">
            <a href="#"> About </a>
			<a href="#"> Docs </a>
			<a href="#"> Blog </a>
			<a href="#"> Pricing </a>
			<p> Try </a>
      </div>
</div>



<div class="title-and-vid">
      <h1>
          Throw away the duct tape. <br/>
          Say hello to Flynn.
      </h1>

      <div class="vid">
          <%= video_tag "video_lp_flynn.mp4", :controls => true %>
      </div>




  <div class="under-vid">
            <a href="#"> Apps </a>
			<a href="#"> Manage </a>
			<a href="#"> Databases </a>
  </div>

  <div class="test-space"> </div>

</div>
