    <h2> Today's price is <%= @price %></h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= link_to "Back",  root_path , class: "btn btn-primary"%>
        </div>
    </div>
