<h2>Salut, tu veux connaitre la réponse à la question de l'univers ??</h2>

Si oui, vérifie que tu es bien log, puis clique <%= link_to 'ici', secret_path %> </br>
Si tu veux te login, ca se passe par <%= link_to 'la', login_path %>