    <!-- Footer-->
    <footer>
      <div class="container">
        <div class="contact-details text-center">
          <div class="row">
            <div class="col-sm-4">
              <div class="icon"><i class="icon-marker"></i></div>
              <div class="text">
                <p>T-Shirt Store, Hasicska, <br>Ostrava, Czech republic</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon"><i class="icon-phone-1"></i></div>
              <div class="text">
                <p>(040)23233434545</p>
                <p>(040)23233434545</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon"><i class="icon-mail-1"></i></div>
              <div class="text">
                <p><a href="mailto:support@shirtstore.com">Support@Shirtstore.com</a></p>
                <p><a href="mailto:shirtstore@example.com">Shirtstore@example.com</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="social text-center">
          <ul class="social-list list-inline">
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
        <div class="site-links">
          <div class="row">
            <div class="col-lg-4 col-md-6"><img src="img/logo-e-footer.png" alt="Shirt Store" width="180">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore.
              </p>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4>This Template</h4>
              <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Text Page</a></li>
                <li><a href="#">Shopping Cart</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6">
              <h4>Our Services</h4>
              <ul class="list-unstyled">
                <li><a href="#">Page Link</a></li>
                <li><a href="#">Page Link</a></li>
                <li><a href="#">Page Link</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4>Newsletter</h4>
              <p>Lorem ipsum amet, consectetur adipiscing elit</p>
              <form id="newsletter-form" action="#">
                <input id="usermail" type="email" name="useremail" placeholder="Enter Your Email">
                <button type="submit">Subscribe <i class="fa fa-circle"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>© 2017 ShirtStore.com. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-right">
              <p>Template By <a href="https://ondrejsvestka.cz/" target="_blank">Ondrej Svestka</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer-->
    <!-- Scroll to top button-->
    <div id="scrollTop"><i class="fa fa-angle-up"></i></div>
    <!-- End scroll to top button-->
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="vendor/lightbox2/js/lightbox.min.js"></script>
    <script src="vendor/jquery-validation/jquery.validate.min.js"> </script>
    <script src="js/front.js"></script>