<!-- Hero Section-->
<section class="home-hero">
  <div class="container" style="min-height:inherit;">
    <div class="row align-items-stretch">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="content">
          <h1>Chatons mignons !</h1>
          <p class="hero-text">Trouve les chatons mignons de ta région</p>
          <p class="hero-text"><strong>Toutes les couleurs</strong> et <strong>toutes les races</strong> pour beaucoup de plaisir.</p>
          <a href=".big-product" class="buy btn btn-primary">A chat <i class="icon-shopping-bag"></i></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image d-none d-lg-block"><%= image_tag("kitten11.jpg", :class => "img-fluid mx-auto d-block") %></div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section-->
